html, body {
    background-color:   #ffffff;
    width:              100%;
    height:             100%;
    padding:            0px;
    margin:             0px;
}

div.svg-div {
    background-color:   #FF0000;
    width:              480px;
    height:             320px;
    padding:            0;
    margin:             0;
    overflow:           hidden;
    display:            block;
}

svg {
    background-color:   #e4e4e4;
    width:              100%;
    height:             100%;
    padding:            0;
    margin:             0;
}
