html {
    width:              100%;
    height:             100%;
    overflow:           hidden;
    padding:            0px;
}

body {
    background-color:   #304080;
    width:              100%;
    height:             100%;
    overflow:           auto;
    padding:            0px;
}

div {
    margin-left:        auto;
    margin-right:       auto;
    width:              600px;
}

div#title {
    margin-top:         20px;
}

div#plot {
    margin-top:         5px;
    height:             400px;
    background-color:   #ff0000;
}

div#footer {
    margin-top:         5px;
}

