html, body {
    background-color:   #ffffff;
    width:              100%;
    height:             100%;
    padding:            0px;
    margin:             0px;
}

div.centered {
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         20px;
}
